# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://czyytoahcjntfsovwqho.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN6eXl0b2FoY2pudGZzb3Z3cWhvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMyMzU4ODgsImV4cCI6MjA4ODgxMTg4OH0.u3c7ohkX_5a7YfcKMpHxcH1lfzDCdD0iL3R2q438yXk
